@model MyProject.Models.ProductionLine

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateProductionLine</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>ProductionLine</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="equipments1">Оборудование №1</label>

            <div class="col-md-10">               
                <select class="form-control text-box single-line form_control-p-line" id="equipments1" name="equipments">@foreach(string type in ViewBag.Equipments) {<option>@type</option>}</select>
                <span class="field-validation-valid text-danger" data-valmsg-for="equipments" data-valmsg-replace="true"></span>

                <input class="form-control text-box single-line form_control-p-line" id="capacitys1" name="capacitys" type="number">
                <span class="field-validation-valid text-danger" data-valmsg-for="capacitys" data-valmsg-replace="true"></span>
            </div>


        </div>

        <div ID="items">
            <input type="button" value="Добавить поле" onClick="AddItem();" ID="add">
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
        }

        <div>
            @Html.ActionLink("Back to List", "ListOfProductionLines")
        </div>
        <script language="javascript">
            var items = 1;
            function AddItem() {
                div = document.getElementById("items");
                button = document.getElementById("add");
                items++;
                newitem = "<div class=\"form-group\"><label class=\"control-label col-md-2\" for=\"equipments " + items + "\">Оборудование №" + items + "</label><div class=\"col-md-10\">";
                newitem += "<select class=\"form-control text-box single-line form_control-p-line\" id=\"equipments " + items + "\" name=\"equipments\">@foreach(string type in ViewBag.Equipments) {<option>@type</option>}</select>";


                @*newitem += "<input class=\"form-control text-box single-line form_control-p-line\" id=\"equipments " + items + "\" type=\"text\" name=\"equipments\">";*@
                newitem += "<span class=\"field-validation-valid text-danger\" data-valmsg-for=\"equipments\" data-valmsg-replace=\"true\"></span><input class=\"form-control text-box single-line form_control-p-line\" id=\"capacitys1\" name=\"capacitys\" type=\"number\">";
                newitem += "<span class=\"field-validation-valid text-danger\" data-valmsg-for=\"capacitys\" data-valmsg-replace=\"true\"></span>";
                newitem += "</div></div>";

                newnode = document.createElement("span");
                newnode.innerHTML = newitem;
                div.insertBefore(newnode, button);
            }
        </script>
</body>
</html>









