@model MyProject.Models.Equipment

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Equipment</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DateOfCreation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfCreation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Producer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Producer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Productivity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Productivity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Characteristics)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Characteristics)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.imageData)
            </dt>

            <dd>
                @if (Model.imageData == null)
                {
                    <div class="form-control-static">Нет картинки</div>
                }
                else
                {
                    <div class="form-group">
                        <div class="col-md-10">
                            <!--Вывод изображения из модели преобразуя байты -->
                            @Html.Raw("<img style='width: 150px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.imageData) + "\" />")
                            <!--Сохраняет текущую картинку! -->                         
                        </div>
                    </div>
                }
            </dd>

        </dl>
    
        @using (Html.BeginForm(FormMethod.Post)) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="DeleteEquipment" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "ListOfEquipments")
            </div>
        }
    </div>
</body>
</html>
