@model IEnumerable<MyProject.Models.ProductionLine>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>





<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StringsAsString)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StringsAsString)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductionLineId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductionLineId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductionLineId })
        </td>
    </tr>
}

</table>
