@model IEnumerable<MyProject.Models.Equipment>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @{if (User.IsInRole("admin"))
        {
            <p>
                @Html.ActionLink("Create New", "CreateEquipment")
            </p>
        } }

    <table class="table">
        <tr>
            <th> Дата </th>
            <th> Модель </th>
            <th> Производитель </th>
            <th> Тип </th>
            <th> Мощность </th>
            <th> Характеристики </th>
            <th> Фото </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfCreation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Productivity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Characteristics)
                </td>
                <td>
                    @if (item.imageData == null)
                    {
                        <div class="form-control-static">Нет картинки</div>
                    }
                    else
                    {
                        @Html.Raw("<img style='width: 150px;' src=\"data:image/jpeg;base64,"
             + Convert.ToBase64String(item.imageData) + "\" />")
                    }
                </td>

                @{if (User.IsInRole("admin"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "EditEquipment", new { id = item.EquipmentId }) |
                            @Html.ActionLink("Details", "EquipmentDetails", new { id = item.EquipmentId }) |
                            @Html.ActionLink("Delete", "DeleteEquipment", new { id = item.EquipmentId })
                        </td>
                    } }


            </tr>
        }

    </table>
</body>
</html>
