@model IEnumerable<MyProject.Models.ProductionLine>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListOfProductionLines</title>
</head>
<body>
    @{if (User.IsInRole("admin"))
        {
            <p>
                @Html.ActionLink("Добавить линию производства для продукта", "CreateProductionLine")
            </p>
        } }
    <table class="table">

        <tr>
            @{if (User.IsInRole("admin"))
                {
                    <th> Дата </th>
                } }
            <th> Для продукта </th>
            <th> Состав линии </th>
            <th> Производительность </th>
            <th> Выдержка </th>
            @{if (User.IsInRole("admin"))
                {
                    <th> Кто добавил </th>
                    <th></th>
                }}
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            @{if (User.IsInRole("admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfCreation)
                    </td>
                } }
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @for (int i = 0; i < item.EquipmentContent.Count; i++)
                {
                    if (i != item.EquipmentContent.Count - 1)
                    {
                        <span>@item.EquipmentContent.ElementAt(i) >> </span>
                    }
                    else
                    {
                        <span>@item.EquipmentContent.ElementAt(i) </span>
                    }
                }
            </td>


            @if (item.CapacityContent.Count > 0)
            {
                <td>
                    @for (int i = 0; i < item.CapacityContent.Count; i++)
                    {
                        if (i != item.CapacityContent.Count - 1)
                        {
                            <span>@item.CapacityContent.ElementAt(i) >> </span>
                        }
                        else
                        {
                            <span>@item.CapacityContent.ElementAt(i) </span>
                        }
                    }
                </td>
            }


            @if (item.DelayContent.Count > 0)
            {
                <td>
                    @for (int i = 0; i < item.DelayContent.Count; i++)
                    {
                        if (i != item.DelayContent.Count - 1)
                        {
                            <span>@item.DelayContent.ElementAt(i) >> </span>
                        }
                        else
                        {
                            <span>@item.DelayContent.ElementAt(i) </span>
                        }
                    }
                </td>
            }


            @{if (User.IsInRole("admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.User)
                    </td>


                    <td>
                        @Html.ActionLink("Изменить", "EditProductLines", new { id = item.ProductionLineId }) |
                        @Html.ActionLink("Детали", "ProductionLineDetails", new { id = item.ProductionLineId }) |
                        @Html.ActionLink("Удалить", "DeleteProductionLine", new { id = item.ProductionLineId })
                    </td>
                } }


        </tr>
        }

    </table>
</body>
</html>
